<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <%-include('partials/nav.ejs')%>
    <br>
    <p>
        Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Earum magni iure, tempora 
        nesciunt pariatur sequi quam consectetur obcaecati quidem sint velit. 
        A ratione est pariatur architecto laborum cumque consectetur. Consectetur?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maxime, commodi 
        libero esse illum blanditiis reprehenderit eligendi minus facilis eum 
        incidunt dolorum ut est quam non veritatis quo accusantium omnis.
    </p>
    <%-include('partials/footer.ejs')%>
</body>
</html>